.catCard {
    height: 225px;
    width: 225px;
    overflow: hidden;
    position: relative;
}

.catCard:hover {
    transform: scale(1.14);
    box-shadow: 0 9px 18px 0 #0000002E, 0 6px 5px 0 #0000003D;
}

.catCard:hover .heart {
    display: block;
}

.heart {
    display: none;
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.catCard.cat-image {
    height: 225px;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}
